body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:42px;
  width:347px;
  height:610px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:297px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:49px;
  top:42px;
  width:347px;
  height:41px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:343px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:49px;
  top:126px;
  width:347px;
  height:78px;
  font-size:20px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:78px;
}
#u5 {
  position:absolute;
  left:2px;
  top:31px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:372px;
  top:154px;
  width:14px;
  height:26px;
  font-size:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:64px;
  top:155px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:63px;
  top:132px;
  width:203px;
  height:22px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:63px;
  top:176px;
  width:223px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:49px;
  top:203px;
  width:347px;
  height:78px;
  font-size:20px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:78px;
}
#u15 {
  position:absolute;
  left:2px;
  top:31px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:372px;
  top:231px;
  width:14px;
  height:26px;
  font-size:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:64px;
  top:233px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:63px;
  top:210px;
  width:203px;
  height:22px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:63px;
  top:254px;
  width:223px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:49px;
  top:280px;
  width:347px;
  height:78px;
  font-size:20px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:78px;
}
#u25 {
  position:absolute;
  left:2px;
  top:31px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:372px;
  top:308px;
  width:14px;
  height:26px;
  font-size:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:64px;
  top:311px;
  width:203px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:63px;
  top:288px;
  width:203px;
  height:22px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:63px;
  top:332px;
  width:223px;
  height:16px;
  font-size:14px;
  color:#6B6B6B;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:67px;
  top:90px;
  width:310px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
