body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:64px;
  top:30px;
  width:506px;
  height:865px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:865px;
}
#u1 {
  position:absolute;
  left:2px;
  top:424px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:84px;
  top:300px;
  width:466px;
  height:238px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:238px;
}
#u3 {
  position:absolute;
  left:2px;
  top:111px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:84px;
  top:530px;
  width:466px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
