body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:80px;
  width:347px;
  height:660px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:660px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:80px;
  width:347px;
  height:44px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:343px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:83px;
  top:276px;
  width:287px;
  height:95px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:59px;
  top:0px;
  width:105px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:164px;
  top:0px;
  width:118px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:59px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:59px;
  top:30px;
  width:105px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:164px;
  top:30px;
  width:118px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:60px;
  width:59px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:59px;
  top:60px;
  width:105px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:164px;
  top:60px;
  width:118px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:83px;
  top:394px;
  width:287px;
  height:35px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:59px;
  top:0px;
  width:105px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:164px;
  top:0px;
  width:118px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:83px;
  top:250px;
  width:183px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:70px;
  top:510px;
  width:189px;
  height:32px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:259px;
  top:516px;
  width:79px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:55px;
  top:590px;
  width:310px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:82px;
  top:142px;
  width:275px;
  height:48px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:48px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:131px;
  top:623px;
  width:222px;
  height:37px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:37px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:269px;
  top:590px;
  width:141px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#0000FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:450px;
  top:124px;
  width:290px;
  height:86px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:86px;
}
#u44 {
  position:absolute;
  left:2px;
  top:35px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:448px;
  top:120px;
  width:290px;
  height:86px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:86px;
}
#u46 {
  position:absolute;
  left:2px;
  top:35px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:347px;
  top:150px;
  width:101px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:454px;
  top:141px;
  width:279px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#333333;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:442px;
  top:151px;
  width:10px;
  height:28px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u52 {
  position:absolute;
  left:170px;
  top:690px;
  width:170px;
  height:16px;
  color:#0000FF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:503px;
  top:682px;
  width:207px;
  height:38px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
}
#u55 {
  position:absolute;
  left:2px;
  top:11px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:502px;
  top:680px;
  width:207px;
  height:38px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
}
#u57 {
  position:absolute;
  left:2px;
  top:11px;
  width:203px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:340px;
  top:683px;
  width:164px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:494px;
  top:684px;
  width:10px;
  height:28px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
