body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:536px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:40px;
  width:506px;
  height:865px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:865px;
}
#u1 {
  position:absolute;
  left:2px;
  top:424px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:48px;
  top:304px;
  width:471px;
  height:279px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:279px;
}
#u3 {
  position:absolute;
  left:2px;
  top:132px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:48px;
  top:583px;
  width:471px;
  height:135px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:135px;
}
#u5 {
  position:absolute;
  left:2px;
  top:60px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
