body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:40px;
  width:347px;
  height:470px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:470px;
}
#u1 {
  position:absolute;
  left:2px;
  top:227px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:40px;
  width:347px;
  height:48px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:343px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:115px;
  top:156px;
  width:225px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#818181;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:115px;
  top:196px;
  width:225px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#818181;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:115px;
  top:236px;
  width:225px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#818181;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:206px;
  top:280px;
  width:59px;
  height:16px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  position:absolute;
  left:280px;
  top:280px;
  width:100px;
  height:16px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:108px;
  top:280px;
  width:66px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:206px;
  top:318px;
  width:59px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:280px;
  top:318px;
  width:100px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:108px;
  top:318px;
  width:79px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:204px;
  top:352px;
  width:77px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:283px;
  top:352px;
  width:100px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:108px;
  top:352px;
  width:53px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:186px;
  top:393px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:208px;
  top:444px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:195px;
  top:102px;
  width:93px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29 {
  position:absolute;
  left:115px;
  top:105px;
  width:66px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:194px;
  top:128px;
  width:117px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
