body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:64px;
  top:47px;
  width:285px;
  height:275px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:275px;
}
#u1 {
  position:absolute;
  left:2px;
  top:130px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
